@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 16px;

    --color-primario: #2e3235;
    --color-secundario: #000000;
    --color-blanco: #ffffff;
    --color-fondo: #232c49;
    --color-activo: #3a456b;
    --fuente-principal: 'Roboto';
}

/** BÁSICOS **/
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.mt-5 {
    margin-top: 5rem;
}

.pointer-events-none {
    pointer-events: none;
}

/** MENU LATERAL **/

.menu {
    width: 20%;
    background-color: var(--color-fondo);
    height: 100%;
    overflow: auto;
}

.fondo-menu {
    padding: 0;
    margin-top: 40%;
}

.fondo-menu li {
    padding: 1rem;
    /* max-width: 80%; */
    list-style: none;
    margin-left: auto;
}

.fondo-menu li a {
    color: var(--color-blanco);
    text-decoration: none;
    display: block;
  
    padding-left: 20%;
}

.hr-menu {
    color: var(--color-blanco);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.fondo-menu li:hover {
    background-color: var(--color-activo);
    border-radius: 2rem;
    color: var(--color-texto);
    overflow: hidden;
    margin: 10px;
}


/** SECCIÓN DASHBOARD **/
.dashboard {
    flex-grow: 1;
    background-color: #f0f0f0;
    padding: 20px;
    overflow-y: auto;
}

.navbar {
    background-color: #f0f0f0 !important;
}

.altura-btn-cabecera {
    height: 38px;
}

.progreso-16 {
    width: 16%;
}

.progreso-25 {
    width: 25%;
}

.progreso-18 {
    width: 18%;
}

.progreso-30 {
    width: 30%;
}

.titulo-icono-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.titulo-icono-wrapper .fas {
    margin-left: auto;
    font-size: 24px;
}

.linea-vertical {
    border-right: 1px solid #333;
}